/* Variables */
:root {
    --basic-white: #ffffff;
    --basic-dark-text-color: #323232;
    --basic-grey-text-color: #5a5a5a;
    --inputs-semi-light-text-color: #999999;
    --input-border-color: #b2b2b2; 
    --input-focus-border-color: #2E88E4;
    --form-background-color: #F8F7F4;
    --accent-light-color: #FFBC9E;
    --accent-dark-color: #E84D37;
    --nav-light-color: #FBDED7;
    --nav-medium-color: #F6B5A5;
    --nav-dark-color: #D07058;
    --nav-active-color: #EDEDED;
    --button-light-color: #F26843;
    --button-dark-color: #E74A35;
    --main-background1: #849D8F;
    --main-background2: #8996A6;
    --main-background3: #9D8B84;
    --background-slider1-lighting: #EFE0DA;
    --background-slider2-lighting: #DAE4EF;
    --background-slider3-lighting: #D7F2E3;
    --cart-black-text-color: #000000;
    --cart-ligth-text-color: #ABABAB;
    --contacts-background: #FEFEFE;
    --blog-link-underline: #353535;
    --button-box-shadow:  rgba(85, 8, 0, 0.54);
    --button-text-shadow: rgba(160, 32, 11, 0.76);
    --button-background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(var(--button-light-color), var(--button-dark-color));
    --button-active-box-shadow: #942718;
    --link-underline-color:  rgba(255, 255, 255, 0.2);
    --nav-button-active-box-shadow: #696969; 
    --subnavigation-box-shadow: rgba(0, 0, 0, 0.4);
    --user-nav-background: rgba(255, 255, 255, 0.2);
    --first-banner-background: #73001b;
    --second-banner-background: #462713;
    --social-icon-fill: rgba(255, 255, 255, 0.8);
    --social-icon-border: rgba(255, 255, 255, 0.4);
    --social-icon-fill-active: rgba(255, 255, 255, 0.6);
}

/* Global */
body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--basic-white);
    background-color: var(--main-background1);
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

/* Special */

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Links */

a:hover,
a:focus,
a:active{
    color: var(--accent-light-color);
}

/* Buttons */

.button {
    background: linear-gradient(var(--button-light-color), var(--button-dark-color));
    padding: 15px 22px 16px 22px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 2px var(--button-box-shadow);
    text-shadow: 0px 2px 5px var(--button-text-shadow);
    border-radius: 26px;
    color: var(--basic-white);
    border-color: transparent;
}

.button:hover,
.button:focus{
    background: var(--button-background);
    color: var(--basic-white);
}

.button:active{
    box-shadow: inset 0px 2px 2px var(--button-active-box-shadow);
    color: var(--basic-white);
}

.slider .button {
    font-size: 32px;
    padding: 9px 40px 10px 40px;
    border-radius: 70px;
}

/* Header  */

.header-container{
    display: flex;
}

.logo{
    width: 154px;
    height: 64px;
}


/* Navigation */

.main-navigation li, 
.main-navigation > li > ul {
    list-style: none;
    margin: 0;
    padding:0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.main-navigation{
    display: flex;
    box-sizing: border-box;
}

.main-navigation a{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    padding: 9px 13px 11px 13px;
}

.main-navigation a:hover,
.main-navigation a:focus {
    background-color: var(--basic-white);
    color: var(--basic-dark-text-color);
    border-radius: 26px;
}

.main-navigation a:active{
    background-color: var(--nav-active-color);
    box-shadow: inset 0px 2px 1px var(--nav-button-active-box-shadow);
}

.current-nav{
    background-color: var(--nav-dark-color);
    color: var(--basic-white);
    border-radius: 26px;
}

a.current-nav{
    text-decoration: none;
}

.main-navigation__sub{
    background-color: var(--basic-white);
    box-shadow: 0px 20px 20px var(--subnavigation-box-shadow);
    height: 171px;
    width: 143px;
    border-radius: 4px;
}

.main-navigation__sub > li {
    padding: 0;
}


.main-navigation__subitem > a{
    text-decoration: none;
    background-color: var(--basic-white);
    color: var(--basic-dark-text-color);
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
}

.main-navigation__subitem > a:hover,
.main-navigation__subitem > a:focus{
    background-color: var(--nav-light-color);
    border-radius: 0;

}

.main-navigation__subitem > a:active{
    background-color: var(--nav-medium-color);
}

.current-page > a{
    background-color: var(--nav-dark-color);
}

.user-navigation__button{
    background-color: var(--user-nav-background);
    border-radius: 26px;
}

.user-navigation__button:hover,
.user-navigation__button:focus{
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.search-button > svg,
.login-button > svg{
    fill: var(--basic-white);
}

.search-button > svg:hover, 
.search-button > svg:focus,
.login-button > svg:hover,
.login-button > svg:focus{
    fill: var(--basic-dark-text-color);
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.cart-empty-button::before{
    content: " ";
    background-image: url(img/svg/basket.svg);
    width: 21px;
    height: 20px;
    display: inline-block;
}

.cart-full{
    color: var(--basic-dark-text-color);
}

.cart-full:hover{
    color: var(--basic-dark-text-color);
}

.cart-full::before{
    content: " ";
    background-image: url(img/svg/basket-red.svg);
    width: 21px;
    height: 20px;
    display: inline-block;
}

.short-info{
    font-size: 14px;
    font-weight: 700;
}
.short-info a{
    font-size: 22px;
}
/* Slider */

.slider{
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider h3{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

/* Banners */
.product__blocks {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.product__blocks strong{
    font-size: 35px;
    line-height: 41px;
    margin: 16px;
}

.product__blocks li{
    width: 550px;
    height: 229px;
    border-radius: 16px;
}

.product__blocks li:first-child{
    background-color: var(--first-banner-background);
    background-image: url(../img/raspberry_background.jpg);
}

.product__blocks li:last-child{
    background-color: var(--second-banner-background);
    background-image: url(img/choсolate_background.jpg);
}

.product__blocks .button{
    margin: 22px;
}

/* Hit products  */
.product__catalog {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product__catalog h3{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
}

.catalog-item {
    width: 293px;
    text-align: center;
}

.catalog-item img{
    border-radius: 50%;
}

.catalog-item p{
    font-size: 45px;
}

.catalog-item p > span{
    font-size: 30px;
}

.catalog-item p > span::before{
    content: "  ";
    background-image: url(img/svg/ruble.svg);
    width: 29px;
    height: 32px;
    display: inline-block;
}

.hit::before{
    content: " ";
    width: 61px;
    height: 61px;
    display: inline-block;
    background-image: url(img/svg/hit.svg);
}

/* About  */

.about{
    width: 1146px;
    height: 306px;
    background-color: var(--accent-light-color);
    background-image: url(img/wafer_pattern.jpg);
    background-repeat: repeat;
    color: var(--basic-dark-text-color);
    border-radius: 16px;
    margin-top: 40px;
}

.about p {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding: 24px;
    margin: 0;
}

.about ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.features li::before{
    content: " ";
    background-image: url(img/svg/ice-cream.svg);
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    display: block;
    float: left;
}

.features li:nth-child(2)::before{
    background-image: url(img/svg/cow.svg);
}

.features li:nth-child(3)::before{
    background-image: url(img/svg/eco.svg);
}

.features li:nth-child(4)::before{
    background-image: url(img/svg/thermometer.svg);
}

/* Blog article  */

.blog-article{
    width: 560px;
    height: 220px;
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
    background-image: url(img/strawberry_background.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 40px;
}

.blog-article p {
    padding-top: 23px;
    padding-left: 20px;
}

.blog-article h2 {
    color: var(--basic-dark-text-color);
    font-size: 24px;
    padding-left: 20px;
    text-decoration: underline;
    text-decoration-color: var(--blog-link-underline);
    text-decoration-skip-ink: none;
}

/* Subscription form  */
.subscription-container{
    width: 560px;
    height: 220px;
    margin-top: 40px;
    margin-left: 26px;
    background-image: url(img/svg/bg-post.svg);
}

.subscription {
    width: 548px;
    height: 210px;
    background-color: var(--form-background-color);
    color: var(--basic-dark-text-color);
    border-radius: 16px;
}

.blog-subscription-container{
    display: flex;
    flex-direction: row;
}
/* Address   */

.address-container {
    width: 303px;
    height: 306px;
    background-color: var(--basic-white);
    color: var(--basic-dark-text-color);
    border-radius: 16px;
}

.address-container > p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 32px;
    padding-left: 25px;
    margin: 0;
}

.address-container > p b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

/* Footer */
footer{
    margin-top: 30px;
}

footer::before{
    content: " ";
    width: 1146px;
    height: 1px;
    background-color: var(--link-underline-color);
    display: block;
}

.socials li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.socials svg{
    fill: var(--social-icon-fill);
    border: 2px solid var(--social-icon-border);
    border-radius: 50%;
}

.socials svg:hover,
.socials svg:focus{
    fill: var(--basic-white);
}

.socials svg:active{
    fill: var(--basic-white);
    border: 2px solid var(--social-icon-fill-active);
}

/* Footer info */
.footer-info li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-info li a{
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
}

.footer-info li > b{
    font-weight: 700;
} 

.footer-info li > b::before{
    content: " ";
    width: 15px;
    height: 13px;
    background-image: url(img/svg/heart.svg);
    display: inline-block;
}

.copyright{
    font-size: 12px;
}

.copyright a {
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
}



/* CATALOG PAGE  */

.breadcrumbs li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.breadcrumbs a{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
}

.pagination li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination ol a:not([href]){
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.pagination ol a:hover,
.pagination ol a:focus{
    color: var(--basic-white);
    background-color: var(--user-nav-background);
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.pagination__previous,
.pagination__next{
    width: 7px;
    height: 12px;
}
.pagination__previous{
    background-image: url(img/svg/icon-left-small.svg);
}

.pagination__next{
    background-image: url(img/svg/icon-right-small.svg);
}

.pagination {
    margin-top: 87px;
    display: flex;
    flex-direction: row;
}


.search-form, .login-form, .cart, .feedback_form, .filters, .slide-2, .slide-3 {
    display: none; 
    /* временно спрятано до следующего домашнего задания */
}


/* todo: all colors and gradients to :root */