/* Variables */
:root{
    --basic-white: #ffffff;
    --basic-dark-text-color: #323232;
    --basic-grey-text-color: #5a5a5a;
    --inputs-semi-light-text-color: #999999;
    --input-border-color: #b2b2b2; 
    --input-focus-border-color: #2E88E4;
    --form-background-color: #F8F7F4;
    --accent-light-color: #FFBC9E;
    --accent-light-color-underline: rgba(255, 188, 158, 0.3);
    --accent-dark-color: #E84D37;
    --nav-light-color: #FBDED7;
    --nav-medium-color: #F6B5A5;
    --nav-dark-color: #D07058;
    --nav-active-color: #EDEDED;
    --button-light-color: #F26843;
    --button-dark-color: #E74A35;
    --main-background1: #849D8F;
    --main-background2: #8996A6;
    --main-background3: #9D8B84;
    --background-slider1-lighting: #EFE0DA;
    --background-slider2-lighting: #DAE4EF;
    --background-slider3-lighting: #D7F2E3;
    --cart-black-text-color: #000000;
    --cart-ligth-text-color: #ABABAB;
    --contacts-background: #FEFEFE;
    --blog-link-underline: #353535;
    --button-box-shadow:  rgba(85, 8, 0, 0.54);
    --button-text-shadow: rgba(160, 32, 11, 0.76);
    --button-background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(var(--button-light-color), var(--button-dark-color));
    --button-active-box-shadow: #942718;
    --link-underline-color:  rgba(255, 255, 255, 0.2);
    --nav-button-active-box-shadow: #696969; 
    --subnavigation-box-shadow: rgba(0, 0, 0, 0.4);
    --user-nav-background: rgba(255, 255, 255, 0.2);
    --first-banner-background: #73001b;
    --second-banner-background: #462713;
    --social-icon-fill: rgba(255, 255, 255, 0.8);
    --social-icon-border: rgba(255, 255, 255, 0.4);
    --social-icon-fill-active: rgba(255, 255, 255, 0.6);
    --subnav-border: rgba(50, 50, 50, 0.2);
    --input-outline-border: rgba(178, 178, 178, 0.52);
    --input-outline-border-active: rgba(46, 136, 228, 0.52);
    --range-input-scale: rgba(248, 247, 244, 0.5);
    --range-input-bar: #F8F7F4;
    --range-input-toggle-point: #ABABAB;
    --range-input-toggle-shadow: rgba(171, 171, 171, 0.3);
}

/* Global styles */
body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--basic-white);
    background-color: var(--main-background1);
    -webkit-font-smoothing: antialiased;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--basic-white);
}

/* Special */
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  /* Links */
a:hover,
a:focus,
a:active{
    color: var(--accent-light-color);
}



/* Buttons */
.button{
    background: linear-gradient(var(--button-light-color), var(--button-dark-color));
    padding: 15px 22px 16px 22px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 2px var(--button-box-shadow);
    text-shadow: 0px 2px 5px var(--button-text-shadow);
    border-radius: 26px;
    color: var(--basic-white);
    border-color: transparent;
}

.button:hover,
.button:focus{
    background: var(--button-background);
    color: var(--basic-white);
}

.button:active{
    box-shadow: inset 0px 2px 2px var(--button-active-box-shadow);
    color: var(--basic-white);
}

/* Header  */
.width-container{
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
    justify-content: flex-end;
    position: relative;
}

.logo{
    width: 154px;
    height: 64px;
}

/* Navigation */
.logo{
    margin-right: 24px;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-items: start;
}

.navigation-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    margin-top: 12px;
}

.main-navigation, 
.main-navigation__sub{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}

.main-navigation__link{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    padding: 9px 13px 11px 13px;
    display: block;
    margin-bottom: 6px;
}

.main-navigation__item:hover .main-navigation__link,
.main-navigation__item:focus .main-navigation__link{
    background-color: var(--basic-white);
    color: var(--basic-dark-text-color);
    border-radius: 26px;
}

.main-navigation__item:active .main-navigation__link{
    background-color: var(--nav-active-color);
    box-shadow: inset 0px 2px 1px var(--nav-button-active-box-shadow);
    color: var(--basic-dark-text-color);
}



.main-navigation__item:active .main-subnavigation__link{
    box-shadow: none;
    border-radius: 0;
    background-color: var(--basic-white);
}

.main-navigation__subitem:active{
    background-color: var(--nav-medium-color);
}


/* Navigation parent item of active submenu item  */
.current-nav{
    background-color: var(--nav-dark-color);
    color: var(--basic-white);
    border-radius: 26px;
}

.current-nav{
    text-decoration: none;
}

.main-navigation__blank-page{
    display: none;
}

/* submenu  */
.main-navigation__sub{
    background-color: var(--basic-white);
    box-shadow: 0px 20px 20px var(--subnavigation-box-shadow);
    border-radius: 4px;
    padding: 0;
    width: max-content;
    position: relative;
    z-index: 1;
}

.main-navigation__subitem{
    padding: 0;
}

.main-navigation__subitem:first-child .main-navigation__link{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.main-navigation__subitem:last-child .main-navigation__link{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* submenu items conditions */
.main-navigation__subitem .main-navigation__link{
    text-decoration: none;
    background-color: var(--basic-white);
    color: var(--basic-dark-text-color);
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.main-navigation__subitem .main-navigation__link:hover,
.main-navigation__subitem .main-navigation__link:focus{
    background-color: var(--nav-light-color);
    border-radius: 0;

}

.main-navigation__subitem .main-navigation__link:active{
    background-color: var(--nav-medium-color);
}

.main-navigation__subitem-special .main-navigation__link{
    font-weight: 700;
}

.main-navigation__subitem-special::after{
    content: " ";
    width: 90%;
    height: 1px;
    background-color: var(--subnav-border);
    display: block;
    margin: 0 auto;
}

.current-page .main-navigation__link{
    background-color: var(--nav-dark-color);
    color: var(--basic-white);
}

.current-page .main-navigation__link:hover, 
.current-page .main-navigation__link:focus{
    background-color: var(--nav-dark-color);
}

/* hiding submenu  */
.main-navigation__item{
    position: relative;
    margin-right: 8px;
    margin-bottom: 6px;
}

.main-navigation__sub{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    overflow: hidden;
}

.main-navigation__item:hover .main-navigation__sub,
.main-navigation__item:focus-within .main-navigation__sub,
.main-navigation__sub:hover,
.main-navigation__sub:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}

/* user navigation  */
.user-navigation{
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

.user-navigation__button{
    background-color: var(--user-nav-background);
    border-radius: 26px;
    margin-right: 10px;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-right: 20px;
    padding-left: 20px;
}

.user-navigation__button:active{
    color: var(--basic-dark-text-color);
}

.user-navigation__button:last-child{
    margin-right: 0;
}

.cart-button{
    display: none;
}

.cart-button-active{
    display: block;
}

.cart-empty-button,
.cart-full{
    margin-right: 0;
    padding-left: 45px;
    padding-top: 8px;
    position: relative;
}

.search-button:hover,
.search-button:focus,
.login-button:hover,
.login-button:focus{
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.cart-empty-button:hover{
    color: var(--basic-white);
}


.search-button {
    padding-bottom: 9px;
    padding-top: 7px;
    padding-right: 11px;
    padding-left: 10px;
}

.search-button svg,
.login-button svg{
    fill: var(--basic-white);
    transform: translateY(4px);
}

.search-button:hover svg, 
.search-button:focus svg,
.login-button:hover svg,
.login-button:focus svg{
    fill: var(--basic-dark-text-color);
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.cart-empty-button::before{
    content: " ";
    background-image: url(../img/svg/basket.svg);
    width: 21px;
    height: 20px;
    position: absolute;
    left: 15px;
}

.cart-full{
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.cart-full:hover,
.cart-full:focus{
    color: var(--basic-dark-text-color);
}

.cart-full::before{
    content: " ";
    background-image: url(../img/svg/basket-red.svg);
    width: 21px;
    height: 20px;
    position: absolute;
    left: 15px;
}

.short-info{
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 70px;
    right: 27px;
}

.short-info .phone-number{
    font-size: 22px;
}

.short-info .phone-number:hover{
    color: var(--basic-white);
}

/* MAIN GRID  */
html{
    height: 100%;
}

.page{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* aligning product banners with flex  */
.product-banners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

/* aligning catalog product items for for main page and catalog page with flex  */
.product__catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* OTHER STYLES FOR EACH SECTION  */
/* Slider */
.slider{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 524px;
}

.slide{
    display: none;
}

.slide-current{
    display: block;
}

.slide__title{
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    max-width: 700px;
    text-align: center;
    margin-top: 320px;
}

.slide__img{
    position: absolute;
    z-index: -2;
    top: 10px;
}

.slide__button{
    display: block;
    font-size: 32px;
    text-align: center;
    border-radius: 70px;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 40px 20px 40px;
}


.slide-switcher{
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 20px;
    z-index: 20;
    display: flex;
    width: 67px;
    justify-content: space-between;
}

.slide-switcher__button{
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.slide-switcher__button:hover{
    background-color: var(--social-icon-border);
}
.current-slide-button{
    background-color: var(--basic-white);
}

.page-1{
    background-color: var(--main-background1);
}

.page-2{
    background-color: var(--main-background2);
}

.page-3{
    background-color: var(--main-background3);
}

/* Product banners */
.product-banners{
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-banners__item{
    width: 560px;
    height: auto;
    min-height: 230px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 16px 22px 22px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.product-banners__item-1{
    background-color: var(--first-banner-background);
    background-image: url(../img/raspberry_background.jpg);
}

.product-banners__item-2{
    background-color: var(--second-banner-background);
    background-image: url(../img/choсolate_background.jpg);
}

.product-banners__title{
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin-bottom: 16px;
}

.product-banners__desc{
    padding: 0;
}

.product-banners__item .button{
    display: block;
    text-align: right;
    width: auto;
    margin-top: auto;
    margin-left: auto;
}

/* Hit products  */
.product__catalog{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.product__catalog * {
    box-sizing: border-box;
}

.catalog-page-main .product__catalog{
    margin-bottom: 80px;
}

.catalog-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 6px;
    position: relative;
}

.catalog-item:hover::before{
    content: " ";
    width: 100%;
    height: 100%;
    background-color: var(--user-nav-background);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-bottom: 40px;
}

.catalog-item:hover{
    z-index: 2;
}

.catalog-item__link{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    font-size: 16px;
    font-weight: 500;
    order: 2;
}

.catalog-item__link:hover{
    text-decoration-color: var(--accent-light-color-underline);
}

.catalog-item__name{
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    min-height: 88px;
}


.catalog-item__picture{
    border-radius: 50%;
    margin-bottom: 17px;
    display: block;
    overflow: hidden;
}

.catalog-item__img{
    transform: scale(1.1);
    object-fit: contain;
}

.catalog-item__prise{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 220px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item__prise-desc{
    font-size: 30px;
}

.catalog-item__prise-desc::before{
    content: "  ";
    background-image: url(../img/svg/ruble.svg);
    width: 29px;
    height: 32px;
    display: inline-block;
}

.hit::after{
    content: " ";
    width: 61px;
    height: 61px;
    background-image: url(../img/svg/hit.svg);
    position: absolute;
    top: 6px;
    left: 6px;
}

.catalog-item__button{
    align-self: center;
    display: none;
    position: absolute;
    bottom: -20px;
}

.catalog-item:hover .catalog-item__button{
    display: block;
}

/* About section */
.about{
    width: 1146px;
    height: auto;
    background-color: var(--accent-light-color);
    background-image: url(../img/wafer_pattern.jpg);
    background-repeat: repeat;
    color: var(--basic-dark-text-color);
    border-radius: 16px;
    padding: 24px 20px 36px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.about__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
}

.about__features{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 33px;
    column-gap: 26px;
}

.about__feature-item{
    margin-left: 55px;
    position: relative;
}

.about__feature-item::before{
    content: " ";
    background-image: url(../img/svg/ice-cream.svg);
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    top: -6px;
    left: -55px;
}

.about__feature-item:nth-child(2)::before{
    background-image: url(../img/svg/cow.svg);
}

.about__feature-item:nth-child(3)::before{
    background-image: url(../img/svg/eco.svg);
}

.about__feature-item:nth-child(4)::before{
    background-image: url(../img/svg/thermometer.svg);
}

/* Blog article  */
.blog-subscription-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-article{
    width: 560px;
    height: auto;
    min-height: 220px;
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
    background-image: url(../img/strawberry_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-sizing: border-box;
    padding-top: 23px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.blog-article__subject{
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.blog-article__heading{
    color: var(--basic-dark-text-color);
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    text-decoration-color: var(--blog-link-underline);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    padding: 0;
    margin: 0;
}

/* Subscription form  */
.subscription-container{
    width: 560px;
    height: auto;
    min-height: 220px;
    background-image: url(../img/svg/bg-post.svg);
    background-size: cover;
    background-position: top;
    padding: 5px;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.subscription{
    background-color: var(--form-background-color);
    color: var(--basic-dark-text-color);
    border-radius: 16px;
    width: 548px;
    height: 100%;
    padding-top: 29px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    box-sizing: border-box;
    min-height: 210px;
    display: flex;
    flex-direction: column;
}
.subscription__text{
    margin: 0;
    margin-bottom: 47px;
}

.subscription__input-button{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription__input{
    border: 1px solid var(--input-outline-border);
    border-radius: 6px;
    height: 44px;
    width: 100%;
    max-width: 370px;
    margin-right: 10px;
    color: var(--basic-dark-text-color);
    font-weight: 700;
    box-sizing: border-box;
}

.subscription__input:hover{
    border: 2px solid var(--input-outline-border);
}

.subscription__input:focus{
    border: 3px solid var(--input-outline-border-active);
    outline: none;
}

.subscription__input[placeholder]{
    text-overflow: ellipsis;
    padding-left: 14px;
}


.subscription__button{
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 19px;
}

/* Address and map section */
.address{
    position: relative;
    height: 430px;
}

.map-container{
    max-width: 1200px;
    margin: 0 auto;
}

.address__img{
    object-fit: cover;
    width: 100%;
    height: 430px;
}

.address-container{
    width: fit-content;
    min-width: 303px;
    background-color: var(--basic-white);
    color: var(--basic-dark-text-color);
    border-radius: 16px;
    position: absolute;
    top: 62px;
    right: 27px;
    padding: 32px 25px;
    box-sizing: border-box;
}

.address__item{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.address__item b{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.address__button{
    display: inline-block;
    
}

/* Footer */
.main-footer{
    /* padding-top: 18px; */
    padding-bottom: 25px;
}

.main-footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 18px;
}

/* line before footer  */
.main-footer::before{
    content: " ";
    width: 1146px;
    height: 1px;
    background-color: var(--link-underline-color);
    display: block;
}

.home-page-main + .main-footer::before {
    display: none;
}
/* socisls icons in footer  */
.socials{
    padding: 0;
    margin: 0;
}

.socials__item{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.socials__icon{
    fill: var(--social-icon-fill);
    border: 2px solid var(--social-icon-border);
    border-radius: 50%;
}

.socials__icon:hover,
.socials__icon:focus{
    fill: var(--basic-white);
}

.socials__icon:active{
    fill: var(--basic-white);
    border: 2px solid var(--social-icon-fill-active);
}

/* Footer info links*/
.footer-info{
    padding: 0;
    margin: 0 auto;
    columns: 2;
    column-gap: 20px;
}

.footer-info__item{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-info__item-link{
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
}

.footer-info__item-link:hover{
    text-decoration-color: var(--accent-light-color-underline);
}

.footer-info__special-item{
    font-weight: 700;
    position: relative;
} 

.footer-info__special-item::before{
    content: " ";
    width: 15px;
    height: 13px;
    background-image: url(../img/svg/heart.svg);
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -20px;
}

/* dev links in footer  */
.copyright-container{
    margin-left: auto;
}

.copyright{
    font-size: 12px;
    display: block;
}

.copyright__link{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
}

.copyright__link:hover{
    text-decoration-color: var(--accent-light-color-underline);
}



/* !CATALOG PAGE  */



/* breadcrumbs  */
.breadcrumbs{
    margin-bottom: 10px;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.breadcrumbs__list{
    margin: 0;
    padding: 0;
}

.breadcrumbs__list-item{
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 22px;
}

.breadcrumbs__list-item:not(:last-child)::after{
    content: " ";
    position: absolute;
    background-image: url(../img/svg/quotes.svg);
    width: 6px;
    height: 6px;
    top: 7px;
    left: 70px;
}

.breadcrumbs a[href]{
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
}

.breadcrumbs a:hover{
text-decoration-color: var(--accent-light-color-underline);
}

/* h1 of catalog page  */
.catalog-page-heading{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

/* FILTERS  */
/* all filters styles  */
.filter-item{
    border: none;
    padding: 0;
    margin: 0;
}

.filters-fieldset-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sort-wrapper, .range-wrapper, .radiobuttons-wrapper, .checkbox-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 14px;
}

.filter-name {
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 16px;
    font-size: 14px;
}

.radiobuttons-field, .checkbox-field, .range-field, .filter-button{
    background-color: var(--user-nav-background);
    padding: 13px 16px 10px 16px;
    border-radius: 20px;
}

/* sort filter (select) */
.sort-wrapper{
    position: relative;
}

.sort-wrapper select{
    border: none;
    background-color: var(--user-nav-background);
    padding: 13px 25px 10px 16px;
    color: var(--basic-white);
    font-weight: 500;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

.sort-wrapper select:hover{
    color: var(--basic-dark-text-color)

}

.sort-wrapper::after{
    content: " ";
    display: inline-block;
    background-image: url(../img/svg/select-arrow.svg);
    width: 11px;
    height: 10px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    bottom: 0;
    right: 0;
    transform: translate(-100%, -130%);
}

/* Range-price filter  */
.range-controls{
    width: 218px;
    height: 36px;
    background-color: var(--user-nav-background);
    border-radius: 20px;
    position: relative;
    padding: 7px 21px 0px 21px;
    padding-top: 7px;
}

.range-controls .scale{
    height: 2px;
    background: var(--range-input-scale);
    margin-top: 12px;
}

.range-controls .bar{
    width: 70%;
    height: 2px;
    background: var(--range-input-bar);
}
  
.range-controls .toggle{
    position: absolute;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--range-input-toggle-point);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--range-input-toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus{
    width: 5px;
    height: 5px;
    border: 9px solid var(--basic-white);
    transform: translateY(-12px);
}

.range-controls .toggle-min {
    left: 18px;
    transform: translateY(-10px);
}

.range-controls .toggle-max {
    left: 160px;
    transform: translateY(-10px);
}

/* radio and checkbox items  */
.radiobuttons-field,
.checkbox-field{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
}

.field__item{
    padding-left: 28px;
    padding-right: 28px;
    position: relative;
}

.field__item:first-child{
    padding-left: 40px;
}

.field__item:last-child{
    padding-right: 0;
}

.radiobuttons-field label,
.checkbox-field label{
    cursor: pointer;
    display: flex;
    position: relative;
}

.filter-input-radio + label::before{
    content: " ";
    background-image: url(../img/svg/radio-off.svg);
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: absolute;
    top: -2px;
    left: -30px;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before{
    opacity: 1;
}

.filter-input-radio + label:active{
    outline: none;
}

.filter-input-radio + label:disabled::before{
    opacity: 0.4;
}

.filter-input-radio:checked + label::before{
    background-image: url(../img/svg/radio-on.svg);
}


/* checkbox filter  */
.checkbox-field__item label{
    position: relative;
}

.filter-input-checkbox + label::before{
    content: " ";
    background-image: url(../img/svg/checkbox-off.svg);
    width: 24px;
    height: 22px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    opacity: 0.8;
    left: -30px;
    top: -2px;
    opacity: 0.8;
    position: absolute;
  }

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before{
    opacity: 1;
}

.filter-input-checkbox + label:disabled::before{
    opacity: 0.4;
}


.filter-input-checkbox:checked + label::before{
    background-image: url(../img/svg/checkbox-on.svg);
    width: 24px;
    height: 22px;
    background-size: 25px 22px;
    left: -30px;
    top: -2px;
    opacity: 0.8;
    position: absolute;
}

.checkbox-field input[type="checkbox"]:focus + label::before{
    /* outline: 0;
    box-shadow: 0 0 5px 2px var(--basic-white);
    border-radius: 3px; */
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
}


/* Filter button  */
.filter-button{
    border: none;
    color: var(--basic-white);
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 14px;
    margin-right: 15px;
    border: 2px solid var(--basic-white);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 29px 10px 29px;
    border-radius: 24px;
}

.filter-button:hover,
.filter-button:focus{
    outline: none;
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.filter-button:active{
    outline: none;
    border: none;
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
    box-shadow: inset 0 2px 3px 2px var(--basic-grey-text-color);
    padding: 13px 29px 12px 29px;
}

/* CATALOG  */

/* PAGINATION  */
.pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.pagination__numbers{
    margin: 0;
    padding: 0; 
}

.pagination__number-item{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination__page,
.pagination__next,
.pagination__previous{
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 30px;
    width: auto;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.pagination__current,
.pagination__page:active{
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.pagination__page:hover,
.paginationpage:focus,
.pagination__next:hover,
.pagination__next:focus{
    color: var(--basic-white);
    background-color: var(--user-nav-background);
}

.pagination__current:hover{
    color: var(--basic-dark-text-color);
    background-color: var(--basic-white);
}

.pagination__previous,
.pagination__next{
    background-repeat: no-repeat;
    background-position: center;
}
.pagination__previous{
    background-image: url(../img/svg/icon-left-small.svg);
    padding-right: 5px;
}

.disabled{
    opacity: 0.2;
}

.pagination__next{
    background-image: url(../img/svg/icon-right-small.svg);
    margin-left: 5px;
}







/* Temporary disabling forms and slider  */
.search-form, .login-form, .cart-form, .feedback_form{
    display: none; 
}

